.CommentSmall{
	display: flex;
	gap: 23px;

	@media (max-width: 767px) {
		gap: 15px;
	}

	@media (max-width: 1650px) {
		gap: 5px;
	}

	&.reverse{
		flex-direction: row-reverse;
	}

	&__picture{
		flex: 0 0 97px;

		@media (max-width: 767px) {
			flex: 0 0 59px;
		}
	}
	&__image{
		width: 100%;
		object-fit: contain;
	}

	&__content{
		display: flex;
		flex-direction: column;
		gap: 29px;

		@media (max-width: 767px) {
			gap: 39px;
		}
	}

	&__text{
		display: block;
	}

	&__name{
		font-weight: 700;
	}
}