@import "../../SCSS/.mixins";

.MainBlock {
	background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
	overflow: hidden;

	@media (max-width: 767px) {
		background: #fff;
	}

	&__container {
		padding-top: 75px;
		padding-bottom: 93px;

		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			padding-top: 18px;
			padding-bottom: 81px;
		}
	}

	&__title {
		text-transform: uppercase;
		gap: 22px;
		margin-bottom: 69px;
		margin-left: 72px;

		@media (max-width: 767px) {
			order: 1;
			margin-top: 38px;
			margin-bottom: 50px;
			margin-left: 0;
			font-size: 1.44em;
			margin-top: -28px;
			margin-bottom: 0;
			&::before {
				width: 0;
				height: 0;
			}
		}
	}

	&__content {
		width: 100%;

		@media (max-width: 767px) {
			order: 0;
		}
	}

	&__block {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		&_first {
			gap: 109px;
			margin-bottom: 36px;

			@media (max-width: 767px) {
				display: none;
			}
		}

		&_second {
			align-items: center;

			.MainBlock__block_item {
				&:first-child {
					transform: translate(76px, -20px);

					@media (max-width: 1024px) {
						transform: translate(46px, -10px);
					}
				}

				&:last-child {
					transform: translate(-50px, -25px);

					@media (max-width: 1024px) {
						transform: translate(-30px, -15px);
					}
				}
			}
		}

		&_third {
			margin-top: -71px;
			margin-left: 20px;
			gap: 102px;

			& > .MainBlock__block_item:last-child {
				flex: 0 0 199px;
			}
			@media (max-width: 1024px) {
				margin-top: -25px;
			}
			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	&__block_item {
		flex: 0 0 179px;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__picture {
		max-width: 567px;
		margin-right: 16px;
		margin-left: 35px;

		@media (max-width: 767px) {
			margin: 0;
		}
	}

	&__image {
		height: 100%;
		filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.16))
	}


	&__bgOne {
		max-width: 442px;
		left: 13% !important;
		bottom: 0;

		@media (max-width: 1650px) {
			max-width: 350px;
		}
		@media (max-width: 1440px) {
			max-width: 250px;
			bottom: 10%;
		}
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__bgTwo {
		max-width: 552px;
		right: -14% !important;
		left: auto !important;
		top: 0;

		@media (max-width: 1650px) {
			max-width: 350px;
			right: -10% !important;
		}
		@media (max-width: 1440px) {
			max-width: 250px;
			top: 10%;
		}
		@media (max-width: 1024px) {
			display: none;
		}
	}

}


