.FAQItem{
	display: flex;
	align-items: flex-start;
	gap: 24px;
	padding: 12px 0 10px;
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	max-width: 704px;
	width: 100%;

	@media (max-width: 1024px) {
		max-width: 100%;
	}

	&:not(:last-child){
		border-bottom: 1px solid #E7EBF0;
	}

	*{
		transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	}

	&.active {
		.FAQItem__arrow{
			transform: rotate(-180deg);
		}
		.FAQItem__title{
			color: #00C368;
		}
		.FAQItem__icon{
			align-self: start;
		}
		
	}

	&:hover{
		.FAQItem__title{
			color: #00C368;
		}
	}

	&__title{
		max-width: 479px;
	}

	&__icon{
		min-width: 40px;
		height: 40px;
		background: #E7EBF0;
		border-radius: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__icon_item{
		object-fit: contain;
	}


	&__info{
		display: flex;
		flex-direction: column;
		gap: 14px;
		width: 100%;
	}

	&__info_top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__arrow{
		width: 19px;
		height: 10.5px;
	}

	&__text{
		display: block;
		animation: fadeIn linear 0.3s forwards;

		&.hidden{
			display: none;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0; }
	100% {
		opacity: 1; }
}