.header{
	background: #fff;

	&__container{
		padding-top: 30px;
		padding-bottom: 37px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left{
		display: flex;
		align-items: center;
		gap: 65px;
	}

	&__logo{
		max-width: 304px;
	}

	&__logo_icon{
		display: block;
		width: 100%;
		height: auto;
		max-height: 92px;
	}

	&__right{
		display: block;
		margin-top: 10px;
		max-width: 117px;
		width: 100%;
	}
}