.header{
	background: #fff;

	&__container{
		padding-top: 30px;
		padding-bottom: 37px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 767px) {
			justify-content: center;
			padding-top: 11px;
			padding-bottom: 11px;
		}
	}

	&__left{
		display: flex;
		align-items: center;
		gap: 65px;

		@media (max-width: 1440px) {
			gap: 30px;
		}
	}

	&__logo{
		max-width: 304px;

		@media (max-width: 767px) {
			max-width: 206px;
		}
	}

	&__logo_icon{
		display: block;
		width: 100%;
		height: auto;
		max-height: 92px;
	}

	&__right{
		display: block;
		margin-top: 10px;
		max-width: 117px;
		width: 100%;

		@media (max-width: 767px) {
			display: none;
		}
	}
}