.Comments{
	display: block;

	&__title{
		gap: 18px;
		margin-bottom: 48px;
		margin-right: 34px;
	}

	&__large{
		margin-bottom: 134px;
		margin-left: 30px;
	}

	&__smalls{
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	&__small{
		flex: 0 0 350px;
	}
}