@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "./SCSS/.mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.container {
	max-width: 1800px;
	padding: 0 25px;
	margin: 0 auto;
}

.main {
	display: block;
}

.title {
	font-weight: 700;
	font-size: px-to-em(40);
	line-height: px-to-per(47, 40);
	text-align: center;
	color: #2E3A59;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		width: 100%;
		max-width: 184px;
		height: 4px;
		background: #00C368;
	}

	@media (max-width: 767px) {
		font-size: px-to-em(24);
		line-height: px-to-per(28, 24);
	}
}

.subTitle {
	font-weight: 700;
	font-size: px-to-em(24);
	line-height: px-to-per(28, 24);
	color: #2E3A59;

	@media (max-width: 767px) {
		font-size: px-to-em(16);
		line-height: px-to-per(19, 16);
	}
}

.text {
	font-weight: 400;
	font-size: px-to-em(16);
	line-height: 150%;
	color: #2E3A59;
}

.textSmall {
	font-weight: 400;
	font-size: px-to-em(16);
	line-height: px-to-per(19, 16);
	color: #2E3A59;
}

br.big {display:block; content:""; margin-top:1px; line-height:190%; vertical-align:top;}